<div class="singleSong">
    <a style="color: rgb(72, 165, 44);" href="{{ url_for('user', username=song.contributer.username) }}">
    <img src="../static/cassette.jpg" width="40">{{ song.contributer.username }}</a>
    <!-- posted: <br>{{ song.song_name }} by {{ song.artist_name }} -->
    posted: <br>

    {% if song.song_link  %}

    <!-- <a style="color: rgb(62, 155, 34);" href="https://open.spotify.com/track/0WkAZjKe3LSfkRvhtNNtBf">
    {{ song.song_name }} by {{ song.artist_name }}</a> -->
    <a style="color: rgb(62, 155, 34);" href="{{ song.song_link }}" target="blank">
        {{ song.song_name }} by {{ song.artist_name }}</a>
    {% else %}
    {{ song.song_name }} by {{ song.artist_name }}
    {% endif %}

    <br>
</div>
