{% extends "base.html" %}

{% block content %}
<div class="header">
  <a class="link" href="{{ url_for('index') }}">home</a>
  <a class="link" href="{{ url_for('logout') }}">logout</a>
  <a class="link" href="{{ url_for('user', username=current_user.username) }}">profile</a>
</div>

<h1>Heavy Rotation</h2>

<h2>tell us about yourself</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.about_me.label }}<br>
        {{ form.about_me(cols=50, rows=4) }}<br>
        {% for error in form.about_me.errors %}
        <span style="color: magenta;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}