{% extends "base.html" %}

{% block content %}
    <a  class="link" href="{{ url_for('user', username=current_user.username) }}">profile</a>
    <a  class="link" href="{{ url_for('logout') }}">logout</a>
    <a class="link" href="{{ url_for('browse') }}">browse</a>

    <h2>home page</h2>
    <h3>hi, {{ current_user.username }}!</h3>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.song.label }}<br>
            {{ form.song(cols=32, rows=4) }}<br>
            {% for error in form.song.errors %}
            <span style="color: magenta;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.artist.label }}<br>
            {{ form.artist(cols=32, rows=4) }}<br>
            {% for error in form.artist.errors %}
            <span style="color: magenta;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for song in songs %}
    <!-- <div><p>{{ song.contributer.username }} : {{ song.song_name }} by {{ song.artist_name }}</p></div> -->
    {% include '_song.html' %}
    {% endfor %}

    {% if next_url %}
    <a class="link" href="{{ next_url }}">older song posts</a>
    {% endif %}

    {% if prev_url %}
    <a class="link" href="{{ prev_url }}">newer song posts</a>
    {% endif %}
{% endblock %}