{% extends "base.html" %}

{% block content %}
    <a class="link" href="{{ url_for('index') }}">home</a>
    <a class="link" href="{{ url_for('logout') }}">logout</a>
    {% if user == current_user %}
    <a class="link" href="{{ url_for('edit_profile') }}">edit your profile</a>
    {% endif %}
    <table>
        <tr valign="top">
        
        <h2>user: {{ user.username }}</h2>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>
    
            {% if user == current_user %}

            {% elif not current_user.is_following(user) %}
            <p>
                <form action="{{ url_for('follow', username=user.username) }}"method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='follow') }}
        </form>
            </p>
            {% else %}
              <p>
                <form action="{{ url_for('unfollow', username=user.username) }}"method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='unfollow') }}
        </form>
            </p>
            {% endif %}
        </tr>
    </table>

    <hr>
    <h4>posted songs:</h4>
    {% for song in songs %}
        {% include '_song.html' %}
    {% endfor %}
{% endblock %}